.adminstrativethai1{
	height:15%;
	float:left;
	width:60%;
	text-align: left;
	padding: 10px;
	margin: 10px;
}
.adminstrativethai2{
	height:32%;
	float:left;
	width:95%;
	text-align: left;
	padding: 10px;
	margin: 10px;
}
.galleryBox {
    width: 160px;
    height: auto;
}